.root {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: lightgray;
  flex: 1;
}

.title {
  position: absolute;
  top: 10px;
  left: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  background-color: rgba(255, 255, 255);
  inset: 0;
}
