.root{
	padding: 50px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
}

.title{
	font-size: 50px;
	font-weight: 700;
}

.link {
	font-size: 25px;
	font-weight: 500;
}
.list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}